.list-professions {
    display: none;
}

.accordion {
    display: none;
}

@media (max-width: 440px) {
    .accordion {
        display: block;
    }

    .accordion-header button {
        background-color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 0.2));
    }

    .dashboard .menu-wrap {
        min-height: 80px;
    }

    .menu a {
        display: none;
    }

    .accordion-body {
        padding-left: 0;
        padding-right: 0;
    }

    .accordion .accordion-body li {
        padding-left: 10px;
        list-style-type: none;
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 0.5px rgb(13 110 253) solid;
    }
}